header {
	background: #000000;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;

}

nav a {
	text-transform: uppercase;
	color: #DAA520;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;

}